# Database Configuration (TiDB Cloud MySQL / Any MySQL)
DB_URL=jdbc:mysql://gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/gss_course_db?createDatabaseIfNotExist=true&useSSL=true&serverTimezone=UTC
DB_USERNAME=3NehYEN5FkpJEBn.root
DB_PASSWORD=your_database_password_here

# Port Configuration
PORT=8080
